$color-blue: #1069fd;
$color-green: #b8d220;
$color-grey: #373838;
$color-green-grey:#30360a;
$color-black: #000000;
$color-black-07: #0000005d;
$color-grey-bg: #1E2228;
$color-dark: #1D1F26;
$color-grey-de: #dedede;
$color-grey-14: #141416;
$color-white:  #fff;
$color-grey-39: #393939;
$color-grey-tag: #373838;
$color-light-grey: #c3c6ce;